.container {
  margin: 10px 10px;
  margin-top: 20px;
}

.inner {
  color: var(--black-200);
  padding: 15px 20px 15px 20px;
}

.heading {
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 800;
  color: var(--black-100);
  margin-bottom: 20px;
}

.subheading {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.4;
  margin-bottom: 25px;
}

.step {
  margin-bottom: 25px;
}

.button {
  cursor: pointer;
  background-color: var(--primary-color);
  color: white;
  border: 1px solid var(--black-800);
  border-radius: 2.5rem;
  font-size: 0.8125rem;
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px 20px;
  white-space: nowrap;
  margin-top: 25px;
  margin-bottom: 10px;
}

.button:hover {
  background-color: var(--blue-dark);
}
