.container {
  background-color: #f2f2f2;
  padding: 25px 0;
}

.list {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  overflow-x: auto;

  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: transform 500ms ease-out;

  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  /* overflow-x: scroll; */

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.list::-webkit-scrollbar {
  display: none;
}

.item {
  height: 350px;
  width: 80vw;
  max-width: 300px;
  margin-right: 20px;
  flex: 0 0 80%;
  max-width: 80%;
}
