.container {
  /* background-color: #f0f0f0; */
  padding: 0px 0;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 20px;
}

.subheading {
  color: var(--black-100);
  font-weight: 700;
  line-height: 1.4;
  font-size: 1.4rem;
  padding: 0 15px;
  margin-bottom: 0px;
  margin-top: 5px;
  text-align: center;
}

.headline {
  color: var(--primary-color);
  font-size: 0.75rem;
  text-transform: uppercase;
  line-height: 1.5;
  font-weight: 800;
  text-align: center;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 2.5rem;
  width: 100%;
  margin-top: 20px;
}

.vl {
  /* background-color: black;
  opacity: 0.15; */
  /* height: 12px;
  width: 1px; */
  padding: 0 15px;
}

.navButton {
  cursor: pointer;
  border: 1px solid var(--black-500);
  border-radius: 100%;
  height: 48px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.list {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  overflow-x: auto;

  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: transform 500ms ease-out;

  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  /* overflow-x: scroll; */

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.list::-webkit-scrollbar {
  display: none;
}

.item {
  height: 290px;
  line-clamp: 4;
  width: 80vw;
  max-width: 300px;
  margin-right: 20px;
  flex: 0 0 80%;
  max-width: 80%;
}
