.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  width: 100%;
  padding: 0 10px;
  margin-bottom: 10px;
}

.title {
  color: var(--black);
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;

  display: flex;
  align-items: center;
}

.button {
  color: var(--primary-color);
  cursor: pointer;
  font-size: 0.8125rem;
  font-weight: 600;
  line-height: 1.5;
}
