.container {
  position: sticky;
  position: -webkit-sticky;
  top: 152px;
  z-index: 10;
}

/* Actions */
.actions {
  background-color: white;
  display: flex;
  align-items: center;
  padding: 15px 20px;
}

.button {
  cursor: pointer;
  border-radius: 999px;
  flex-grow: 1;
  font-size: 0.75rem;
  text-transform: uppercase;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  font-weight: 700;
  align-items: center;
  padding: 12px 0;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.primary {
  border: 2px solid var(--black);
  color: var(--black);
}

.secondary {
  background-color: var(--black-100);
  border: 2px solid var(--black-100);
  color: white;
  font-weight: 500;
}

.icon {
  height: 18px;
  width: 18px;
  margin-right: 10px;
}
