.container {
  cursor: pointer;
  background: #ffffff;
  border-top: 1px solid var(--black-800);
  border-radius: 12px;
  color: var(--black);

  width: 100%;
  height: 48px;

  padding: 0 10px 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.leftCommands {
  display: flex;
  align-items: center;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}

.name {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
}
