.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-content: space-between;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  width: 100%;
  padding-left: 10px;
}

.headerTitle {
  color: var(--black);
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.5;

  display: flex;
  align-items: center;
}

.headerButton {
  display: flex;
  align-items: center;
}

.headerIcon {
  cursor: pointer;

  margin-top: -0px;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-right: 15px;
}

.clearButton {
  color: var(--primary-color);
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.5;
}

/* list */
.list {
  padding: 10px 0;
  flex-grow: 1;
  width: 100%;
  max-height: 100%;
  overflow-y: auto;
}

.footer {
  border: 1px solid red;
}

/* matches */
.matches {
  color: var(--black);
  padding: 15px 0;
  font-size: 14px;
  font-weight: 500;
}

/* Actions */
.actions {
  display: flex;
  align-items: center;
  height: 48px;
  width: 100%;
  margin-bottom: 20px;
}

.primaryAction,
.secondaryAction {
  border-radius: 2.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8125rem;
  line-height: 1.5;
  font-weight: 400;
  flex-grow: 1;
  height: 100%;
}

.primaryAction {
  background-color: var(--primary-color);
  color: white;
  padding: 0 20px;
}

.secondaryAction {
  font-weight: 700;
  color: var(--primary-color);
}
