.container {
  /* background-color: #23398f; */
  background-color: var(--primary-color);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 0.875rem;
  line-height: 1.5;
  color: white;
  width: 100%;
  padding: 15px 20px;
  position: absolute;
  bottom: 0;
  z-index: 1;
}

.social {
  margin-top: 15px;
}

.socialAccounts {
  display: flex;
  align-items: center;
}

.socialIcon {
  margin-right: 20px;
}
