.container {
  padding-top: 130px;
}

.subheader {
  background-color: var(--secondary-color);

  padding: 32px 40px 32px 20px;
}

.heading {
  font-size: 1.25rem;
  line-height: 1.25;
  font-weight: 800;
  color: var(--black);
}

.subheading {
  color: var(--black);

  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.3;

  margin-top: 8px;
}

.main {
  background-color: white;

  position: relative;
  z-index: 15;
  padding-top: 1px;
}
