.container {
  color: white;
  padding: 128px 0 15px 0;
  min-height: 100vh;
  height: 100%;
  width: 100%;
}

.list {
  height: 100%;
  overflow-y: auto;
}

.list::-webkit-scrollbar-track {
  background: transparent;
}

.list::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  border: 3px solid var(--primary-color);
}

.hr {
  background-color: white;
  height: 1px;
  width: 100%;
  margin: 0 20px;
  opacity: 0.15;
}

.hr2 {
  background-color: white;
  height: 1px;
  width: 100%;
  opacity: 0.15;
}
