.container {
  margin-top: 60px;
  margin-bottom: 20px;
  padding-bottom: 80px;
}

.heading {
  font-size: 1.5rem;
  font-weight: 800;
  color: var(--black-100);
  margin-bottom: 25px;
  padding: 0 20px;
}

.item {
  background-color: white;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 18px 30px -10px;
  height: 100%;
  width: 100%;
  overflow: hidden;

  position: relative;
}

.imageWrapper {
  background-color: #f2f2f2;
  aspect-ratio: 16/9;
  width: 100%;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.tags {
  color: var(--black-100);
  font-weight: 600;
  display: flex;
  align-items: center;
  font-size: 0.75rem;
  line-height: 1.1;
  padding: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.tag {
  background-color: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(4px);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 2.5rem;
  padding: 5px 12px;
  margin-right: 5px;
}

.condition {
  position: absolute;
  top: 0;
  left: 0;
}

.conditionInner {
  position: relative;
}

.conditionContent {
  font-size: 0.75rem;
  position: absolute;
  margin: 15px 15px 15px 8px;
  top: 0;
  left: 0;
  transform: rotate(-45deg);
  color: white;
  font-weight: 600;
  line-height: 1.1;
  text-transform: lowercase;
}

.details {
  color: var(--black-100);
  line-height: 1.1;
  padding: 15px 20px;
}

.brand {
  font-size: 0.8125rem;
  line-height: 1.5;
  font-weight: 900;
  text-transform: uppercase;
}

.model {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.3;
  color: var(--black-200);
  align-items: center;
  height: 36.4px;
}

.vl {
  color: var(--black-800);
  font-weight: 400;
  margin: 0 5px;
}

.hl {
  background-color: #e6e6e6;
  height: 1px;
  width: 100%;
  margin: 15px 0;
}

.cost {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.4;
}

.button {
  background-color: var(--primary-color);
  border-radius: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  padding: 15px 0;
  margin-top: 20px;
  width: 100%;
  text-transform: uppercase;
}
