.container {
  background-color: var(--primary-color);
  padding-bottom: 10px;
  position: relative;
  z-index: 100;
  width: 100%;
}

.inner {
  background-color: var(--primary-color);
  padding: 10px 20px;
  position: relative;
  z-index: 11;

  display: flex;
  align-items: center;

  width: 100%;
}

.backButton {
  cursor: pointer;
  height: 48px;
  width: 48px;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  margin-left: -15px;
}

.inputWrapper {
  flex-grow: 1;
  background-color: white;
  border-radius: 16px;
  height: 36px;

  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.lblButton {
  height: 100%;
  width: 36px;

  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  pointer-events: none;
}

.form {
  height: 100%;
  flex-grow: 1;
}

.input {
  border: none;
  outline: none;
  color: var(--primary-color-10);
  height: 100%;
  flex-grow: 1;
  width: 100%;
  font-size: 0.875rem;
  font-weight: 500;
  padding-left: 36px;
}

.input::placeholder {
  color: var(--primary-color-20);
  font-weight: 500;
}

.button {
  background-color: var(--primary-color);
  border-radius: 16px;
  color: white;
  cursor: pointer;

  display: flex;
  align-items: center;

  font-size: 0.8125rem;
  font-weight: 600;
  line-height: 1.5;

  padding: 4px 20px;
  margin: 4px;
  white-space: nowrap;
}

.panel {
  background-color: white;
  color: black;
  height: 100vh;
  width: 100%;
  transition: transform 0.65s cubic-bezier(0.19, 1, 0.22, 1), opacity 450ms;
  position: fixed;
  top: 0;
  padding-top: 78px;
  z-index: 10;
}
