.container {
  padding: 15px 20px 20px 20px;

  width: 100%;
}

.inner {
  position: relative;
  width: 100%;
}

.inputWrapper {
  background-color: white;
  border-radius: 9999px;
  height: 48px;

  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
}

.lblButton {
  cursor: text;
  height: 48px;
  width: 48px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.input {
  border: none;
  outline: none;
  color: var(--black);
  height: 100%;

  flex-grow: 1;
  font-size: 0.875rem;
  font-weight: 500;
}

.input::placeholder {
  color: rgba(00, 0, 0, 0.67);
  font-weight: 500;
}

.button {
  background-color: var(--primary-color);
  border-radius: 9999px;
  color: white;
  cursor: pointer;

  font-size: 0.8125rem;
  font-weight: 600;
  line-height: 1.5;

  padding: 8px 20px;
  margin-right: 8px;
  white-space: nowrap;
}

/* Popover */
.popover {
  background: #ffffff;
  box-shadow: 0px 10px 20px -12px rgba(0, 0, 0, 0.08);
  border-radius: 0px 0px 10px 10px;

  position: absolute;
  z-index: 1;
  left: 0;
  top: 50%;
  width: 100%;

  padding: 26px 0 20px 0;
}
