.carousel {
  background-color: white;
  /* aspect-ratio: 16/10; */
  height: 82.5vw;
  width: 100%;
  position: relative;
}

.navButton {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(6px);
  height: 40px;
  width: 32px;

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  z-index: 2;

  bottom: 5%;
  transform: translate3d(0, -50%, 0);
  -webkit-transform: translate3d(0, -50%, 0);
}

.navLeft {
  border-radius: 0 24px 24px 0;
  left: 0;
  padding-right: 6px;
}

.navRight {
  border-radius: 24px 0px 0px 24px;
  right: 0;
  padding-left: 6px;
}

.indicators {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0 15px 20px;
  margin-left: -10px;
}

.list {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}
