.container {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.container svg {
  position: relative;
  z-index: 2;
}

.circle {
  transition: stroke-dashoffset 1s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;

  stroke: #4f54de;
}

.curtain {
  stroke: rgba(0, 0, 0, 0.3);
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.bg {
  border-radius: 100%;
  background-color: black;
  position: absolute;
  z-index: 1;

  transform-origin: 50% 50%;

  height: 12px;
  width: 12px;
  margin-left: 0px;
  margin-bottom: 0px;
}
