.container {
  height: 64px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  position: relative;
  z-index: 22;
  padding: 0 10px;
}

.leftCommands,
.rightCommands {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 100;
}

.button {
  cursor: pointer;
  height: 44px;
  width: 44px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 1.25rem;
  font-weight: 600;
  color: white;
}

.icon {
  fill: white;
  height: 20px;
  width: 20px;
}

.vl {
  background-color: white;
  opacity: 0.4;
  height: 16px;
  width: 1px;
  margin: 0 5px;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  width: 100%;
}
