.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
}

.vl {
  margin: 0 8px;
}

.navButton {
  cursor: pointer;
  border: 1px solid var(--black-500);
  background-color: white;
  border-radius: 16px;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.list {
  padding: 0 20px 30px 20px;
  display: flex;
  align-items: center;
  overflow-x: auto;

  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  /* transition: transform 700ms ease; */
  transition: transform 0.7s cubic-bezier(0.19, 1, 0.22, 1);

  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.list::-webkit-scrollbar {
  display: none;
}

.item {
  width: 80vw;
  margin-right: 20px;
  flex: 0 0 80%;
  max-width: 80%;
}
