.container {
  background-color: #f2f5f9;

  padding: 30px 20px 0 20px;
  width: 100%;
}

.socialNetworks {
  color: #001b40;
  display: flex;
  align-items: center;
}

.socialItem {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-right: 12px;
}

.links {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-right: 20px;
}

.linksInner {
  display: flex;
  flex-direction: column;
}

.link {
  color: var(--primary-color-20);

  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;

  margin-right: 8px;

  text-decoration: none;
}

.contact {
  color: var(--primary-color-20);
  display: flex;
  flex-direction: column;

  font-size: 0.875rem;
  font-weight: 500;

  margin-top: 32px;
}

.dealerships {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

.email {
  color: var(--primary-color);

  font-size: 0.875rem;
  font-weight: 600;

  text-decoration: none;
  margin-bottom: 24px;
}

.meta {
  display: flex;
  align-items: top;
  margin-top: 8px;
}

.meta a {
  color: var(--primary-color-10);

  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.5;
}

.copyright {
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1.5;
  color: var(--primary-color-10);

  margin-top: 40px;
  opacity: 0.75;
}

.registration {
  border-top: 1px solid #e6e6e6;

  font-size: 0.75rem;
  line-height: 1.5;
  color: var(--primary-color-10);

  opacity: 0.67;

  margin-top: 24px;
  padding: 8px 0;
}
