.container {
  border-top: 1px solid #f2f2f2;
  border-radius: 16px 16px 0 0;

  padding: 30px 20px 0 20px;
  width: 100%;
}

.socialNetworks {
  display: flex;
  align-items: center;
}

.socialItem {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-right: 12px;
}

.links {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.linksInner {
  display: flex;
  flex-direction: column;
}

.link {
  color: var(--primary-color);

  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;

  margin-right: 8px;

  text-decoration: none;
}

.copyright {
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1.5;
  color: var(--black-200);

  margin-top: 40px;
}

.registration {
  border-top: 1px solid #d4d9ec;

  font-size: 0.75rem;
  line-height: 1.5;
  color: var(--black-500);

  margin-top: 24px;
  padding: 8px 0;
}
