.container {
  background-color: #f3f3f3;
  border-radius: 16px 16px 0 0;

  padding: 30px 20px 0 20px;
  width: 100%;

  position: sticky;
  bottom: 0px;
  z-index: -1;
}

.socialNetworks {
  display: flex;
  align-items: center;
}

.socialItem {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-right: 12px;
}

.links {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.linksInner {
  display: flex;
  flex-direction: column;
}

.link {
  color: var(--black-200);

  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;

  margin-right: 8px;

  text-decoration: none;
}

.contact {
  color: var(--black-200);
  display: flex;
  flex-direction: column;

  font-size: 0.875rem;
  font-weight: 500;

  margin-top: 32px;
}

.dealerships {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

.email {
  color: var(--primary-color);

  font-size: 0.875rem;
  font-weight: 600;

  text-decoration: none;
  margin-bottom: 24px;
}

.meta {
  display: flex;
  align-items: top;
  margin-top: 8px;
}

.meta a {
  color: var(--black-200);

  font-size: 0.875rem;
  font-weight: 600;
}

.copyright {
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1.5;
  color: var(--black-500);

  margin-top: 40px;
}

.registration {
  border-top: 1px solid #e6e6e6;

  font-size: 0.75rem;
  line-height: 1.5;
  color: var(--black-500);

  margin-top: 24px;
  padding: 8px 0;
}
