.about {
  background-color: var(--black);
  width: 100%;
  margin-top: 40px;
  padding: 4rem 0 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 0 20px;
}

.headline {
  font-size: 0.875rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.87);
  margin-bottom: 16px;
  line-height: 1.5;
}

.subheading {
  color: #5265b3;
  font-weight: 700;
  line-height: 1.4;
  font-size: 1.25rem;
  margin-bottom: 16px;
  margin-top: 5px;
}

.paragraph {
  color: rgba(255, 255, 255, 0.67);
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 15px;
  padding: 0 20px;
}

.button {
  color: rgba(255, 255, 255, 0.87);
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.87);
  border-radius: 1rem;
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1.5;
  padding: 10px 30px;
  text-transform: uppercase;
  margin: 0 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.awards {
  padding: 0 20px;
}

.award {
  display: flex;
  align-items: flex-start;

  color: rgba(255, 255, 255, 0.87);
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.4;

  padding: 12px 0;
}

.award span {
  margin-left: 12px;
  margin-top: 2px;
}
