:root {
  --primary-color: #273fa0;
  --blue-dark: #001e60;
  --light-blue: #afe2f5;
  --red: #c13441;
  /* #2329d6; */
  --secondary-color: rgb(255, 172, 0);
  /* rgb(250, 198, 7) */
  --black: #000000;
  --black-100: #191919;
  --black-200: #333333;
  --black-500: #808080;
  --black-800: #cccccc;
  --black-900: #e6e6e6;

  /* transition: transform 1s 500ms cubic-bezier(0.16, 1, 0.3, 1); */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: "Mulish", sans-serif;
  overscroll-behavior-x: none;
  /* Debug */
  height: 200vh;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(109, 109, 109) white;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #cfcfcf;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(138, 138, 138, 0.87);
  border-radius: 20px;
  border: 3px solid #cfcfcf;
}
