:root {
  --primary-color: #2329d6;
  --black: #262626;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
  font-family: "Work sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
