:root {
  --primary-color: #003680;
  --primary-color-10: #00050d;
  --primary-color-600: #99afcc;
  /* #273fa0; */
  --blue-dark: #001e60;
  --light-blue: #afe2f5;
  --red: #c13441;
  /* #2329d6; */
  --secondary-color: rgb(255, 172, 0);
  /* rgb(250, 198, 7) */
  --black: #000000;
  --black-100: #191919;
  --black-200: #333333;
  --black-500: #808080;
  --black-800: #cccccc;
  --black-900: #e6e6e6;

  /* transition: transform 1s 500ms cubic-bezier(0.16, 1, 0.3, 1); */
}

* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  background-color: white;
  font-family: "Mulish", sans-serif;

  min-height: 100vh;
  min-height: stretch;
  min-height: -webkit-stretch;

  width: 100vw;
  overscroll-behavior-x: none;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

html {
  height: stretch;
  min-height: 100vh;
}

.comm {
  background-color: var(--primary-color);
  border-radius: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 48px;
  width: 48px;

  margin: 24px;

  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 22;
}

.comm svg {
  fill: white;
  height: 24px;
  width: 24px;
}

.hidescrollbar {
  overflow: hidden;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(109, 109, 109) white;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(138, 138, 138, 1);
  border-radius: 20px;
  border: 3px solid white;
}
